a{
    text-decoration: none;
    color: black;
  }

body{
    background-color: #f0d1d1;
    font-family: 'Raleway', sans-serif;
    color:black;
}
.header{
    color: gold;
    font-size: 50px;
    background-color: black;
}

#topnav{
    background-color: #d8aaaa;
}

#topnav a{
    color: black;
    text-decoration: none;
}

#topnav a:hover{
    border-bottom: 2px solid #000;
}

#my_footer{
    background-color: black;
    color: gold;
}

#my_link {
    background-color: #f7d7d7;
}

#my_link a{
    color:black;
}

form{
   background-color: rgb(214, 185, 185);
   border: 5px solid  #f094af;
   border-radius: 20px;
   color: #2f233a;
}

table{
    background-color: rgb(214, 185, 185);
    border: 5px solid  #f094af;
    border-radius: 20px;
    color: #2f233a;
}

th{
    border: 3px solid #c09393;
}

td{
    border: 3px solid #c09393;
}

tr:nth-child(2n) {    
     background-color: #ad8484 ;
}

#inputPrice1, #inputCount1{
    font-size: 15px;
}
 
#price, #n{
    background-color: #e4d9f3;
    color: #ad8484;
    font-size: 12px;
}

.calc  input::placeholder{
    color:#ad8484;;
}

.btn{
    background-color: #ad8484;
    color: black;
    font-weight: bold;
    font-size: 12px;
    border-radius: 15px;
}

.btn:hover{
    color:white;
    font-weight: bolder;
    background-color: #e4d9f3;
}

.btn:active, .btn:focus{
    font-weight: bolder;
    color: #ad8484;
    background-color:#cebfe0;
}